
# Python artifacts / Byte-compiled / cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
env/

# IDE directories
.idea/
.vscode/


# Evaluation results and other output
results/*
!results/refinement_summary_ground_truth.txt

# Temporary evaluation or output files
*.log
*.tmp
*_evaluation_result.txt
*_result.txt

# Local settings
*.env

